/*--------------------------------------------------------------
# Product page
--------------------------------------------------------------*/
.product__notices {
	margin: 15px 0;

	.woocommerce-message {
		display: flex;
		flex-direction: row-reverse;
		grid-gap: 20px;
		align-items: center;
		justify-content: flex-end;
	}
}

.product__main {
    padding: 20px 0;

	@include mq($md) {
		padding: 15px 0;
	}
}

.product__main-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.product__main-gallery {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
}

.product__gallery-main-slider-wrap {
    position: relative;
	margin-bottom: 20px;

	.swiper-button {
		&-prev,
		&-next {
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 100%;
			margin-left: -45px;
			transform: translateY(50%);
			height: 40px;
			width: 40px;
			color: $white;
			background-color: $fire-bush;
			font-weight: bold;

			&::after {
				font-size: 12px;
			}
		}

		&-prev {
			left: 0;
			margin-left: 5px;
		}
	}
}

.product__gallery-main-slider-img,
.product__gallery-main-thumbs-img,
.product__gallery-main-img {
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.product__main-summary {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
}

.product__title {
	@include clamp-font-size(18, 28);
	font-weight: bold;
	margin-bottom: 17px;
}

.product__price {
	margin-bottom: 20px;

	span {
		@include clamp-font-size(17, 26);
		font-weight: bold;
	}

	@include mq($md) {
		margin-bottom: 10px;
	}
}

.product__short-description {
	margin-bottom: 20px;
}

.product__main-summary .cart {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	grid-gap: 20px;
}

.product__meta-item {
	display: block;
	margin-bottom: 6px;

	a {
		color: $orange;
		text-decoration: underline;
		transition: $dur $ease;

		@include hover {
			color: $black;
		}
	}
}