/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn,
.button {
	display: inline-block;
	@include clamp-font-size(12, 16);
	background-color: $robin-blue;
	color: $white;
	transition: $dur $ease;
	font-weight: bold;
	line-height: 1;
	border-radius: 10px;
	padding: 14px 23px;
	border: 2px solid transparent;
	z-index: 1;
	position: relative;
	width: fit-content;

	@include hover {
		color: $robin-blue;
		border-color: $robin-blue;
		background-color: transparent;
	}

	@include mq($md) {
		padding: 13px 17px;
	}
}

.btn--sec {
	background-color: $orange;
	color: $white;

	@include hover {
		color: $orange;
		border-color: $orange;
		background-color: transparent;
	}
}

.btn--gold {
	background-color: $fire-bush;
	color: $white;
	border: 0;

	@include hover {
		color: $white;
		background-color: $black;
	}
}

.btn--white {
	background-color: $white;
	color: $black;

	@include hover {
		border-color: transparent;
		color: $white;
		background-color: $black;
	}
}

.link {
	color: $orange;
	font-weight: bold;
	@include clamp-font-size(14, 16);
	transition: $dur $ease;
	@include font(arrow-right, after);

	&::after {
		margin-left: 5px;
		font-size: 9px;
		display: inline-block;
		font-weight: bold;
	}

	@include hover {
		color: $black;
	}
}

.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
	width: 45px;
	height: 45px;
    display: flex;
	align-items: center;
	justify-content: center;
    font-size: 18px;
	border-radius: 10px;
    cursor: pointer;
    background-color: $fire-bush;
	border: 0;
    color: $white;
    opacity: 0;
	visibility: hidden;
    transition: $dur $ease;
	font-weight: bold;
	z-index: 1000;

	&.is-visible {
		opacity: 0.9;
		visibility: visible;
	}

	@include hover {
		opacity: 1;
		background-color: $black;
	}

	@include mq($sm) {
		width: 35px;
		height: 35px;
		font-size: 16px;
		bottom: 15px;
    	right: 15px;
	}
}


