.text-block {
	padding: 30px 0;

	.entry-content {
		text-align: center;
		margin: 0 auto;
		max-width: 650px;

		p {
			font-style: italic;
			color: $grey;
		}
	}

	@include mq($md) {
        padding: 20px 0;
    }
}